@import './../utils/utils.scss';

.blogPage {

    background-color: lightblue;
    min-height: 100vh;

    @include media-breakpoint-up(xl) {
        display: block;
        position: relative;
    }

    .articleCol {
        padding-top: 2vh;
        padding-bottom: 2vh;
        @include media-breakpoint-up(xl) {
            width: 70%;
            left: 0;
        }
    }
}