.tab-content {
    text-align: left;
}

#uncontrolled-tab-example {
    .nav-tabs {
        background-color: rgba(214, 224, 226, 0.2);        
        padding: 0 5% 0 5%;
        font-size: 18px;
        font-weight: 400;
        li {
            width: 33.3%;
            margin: 0;
            a {
                background-color: rgba(214, 224, 226, 0.2);
                color: rgb(51, 51, 51);
                border: 0;
            }

            a:hover {
                background-color: rgba(255, 255, 255, 1);
            }
        }

        li.active {
            a {
                color: white;
                background-color: rgb(66, 139, 202);
            }            
        }
    }

    .workingNavDot, .educationNavDot {        
        right: 15px;
        width: 16px;
        top: 40%;        
        position: fixed;
        justify-content: center;

        @media screen and (min-width: 768px) {
            width: 20px;
            right: 30px;
        }

        div {
            width: 16px;
            height: 16px;
            border: 2px black solid;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 8px;

            @media screen and (min-width: 768px) {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
        }
        a.active div {
            background-color: black;
        }
    }

    .workingDiv, .educationDiv {
        height: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .expDivBg {
        position: absolute;
        height: 600px;
        width: 100%;
        text-align: center;
        background: url("./../media/backgroundPic.jpg");
        background-size: cover !important;
        background-position: bottom 50px right 100px;
        opacity: 0.4;
    }

    .expInfoDiv, .eduInfoDiv {
        text-align: left;
        font-size: 18px;
        // padding-top: 50px;
        // padding-bottom: 100px;
        display: inline-block;
        width: 95%;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        @media screen and (min-width: 1280px) {
            width: 992px;
        }

        .companyName, .school {
            font-size: 28px;
            font-weight: 700;
        }

        .date {
        }

        .location {
        }

        .title {

        }

        .detail {
            margin-top: 15px;
            font-size: 14px;
            div {
                margin-bottom: 6px;
            }
        }
    }


    // begining bg images
    .acsBG {
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./../media/bg_acs.jpg");
    }

    .gbBG {
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./../media/bg_gb.jpg");
    }

    .ppBG {
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./../media/bg_pp.jpg");
    }

    .taBG {
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./../media/bg_ta.jpg");
    }

    .ujBG {
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./../media/bg_uj.jpg");
    }

    // end of bg images
}