.workingDiv, .educationDiv {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expDivBg {
    position: absolute;
    height: 600px;
    width: 100%;
    text-align: center;
    background: url("./../media/backgroundPic.jpg");
    background-size: cover !important;
    background-position: bottom 50px right 100px;
    opacity: 0.4;
}

.expInfoDiv, .eduInfoDiv {
    text-align: left;
    font-size: 18px;
    // padding-top: 50px;
    // padding-bottom: 100px;
    display: inline-block;
    width: 95%;

    @media screen and (min-width: 768px) {
        width: 90%;
    }

    @media screen and (min-width: 1280px) {
        width: 992px;
    }

    .companyName, .school {
        font-size: 28px;
        font-weight: 700;
    }

    // .date {
    // }

    // .location {
    // }

    // .title {

    // }

    .detail {
        margin-top: 15px;
        font-size: 14px;
        div {
            margin-bottom: 6px;
        }
    }
}


// begining bg images
.acsBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_acs.jpg");
}

.gbBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_gb.jpg");
}

.ppBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_pp.jpg");
}

.taBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_ta.jpg");
}

.ujBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_uj.jpg");
}

.asuBG {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_asu.jpg");
}

.cguBG_1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_cgu1.jpg");
}

.cguBG_2 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("./../media/bg_cgu2.jpg");
}

// end of bg images
